<header id="header" style="font-size: 25PX ;color: black; "  >
        <h1 >
            CODEIAL
        </h1>
        <ul>
            <% if (locals.user){ %>
                <li style="list-style-type: none;">
                   <a href="/users/profile/" + user._id >
                    <%= user.name %>

                   </a>
                </li>
                <li style="list-style-type: none;">
                    <a href="/users/sign-out" style="margin-left: 1000px;" ">Sign Out</a>
                </li>


             <%} else { %>
                <li style="list-style-type: none;">
                    <a href="/users/sign-in" style="color:black;margin-left: 1000px">Login Page</a>
                </li>
                <li style="list-style-type: none;">
                    <a href="/users/sign-up" style="color:black;margin-left: 80%">Create an account</a>
                </li>


             <%} %>


        </ul>
    </header>