
            <link rel="stylesheet" href="/css/user-profile.css">
        <h1> Codeial/ Profile Layout </h1>

        <p><h2>Name: <%= user.name%></h2></p>
        <p> <h2>Email:<%=user.email%></h2></p>
        <a href="/users/sign-in"><h3>Sign Out</h3> </a>